@tailwind base;
@tailwind components;
@tailwind utilities;

/* For IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  background-color: rgb(24 61 61);
}

.profile_hero_image::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: auto;
  height: 18rem;
  background-image: url("../images/gallery_hall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 55%;
  border-radius: 0 0 100% 100%;
  opacity: 50%;
  z-index: -1;
}

#edit-profile-form input:-webkit-autofill,
#edit-profile-form input:-webkit-autofill:hover,
#edit-profile-form input:-webkit-autofill:focus,
#edit-profile-form input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #b6eada;
  transition: background-color 5000s ease-in-out 0s;
}

.title-underline::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  background-color: rgb(91, 143, 185, 1);
  width: 100%;
  height: 2px;
}

.fade-right::before {
  position: absolute;
  top: 0;
  right: -1px;
  background: linear-gradient(
    to right,
    rgb(3, 0, 28, 0) 0%,
    rgb(3, 0, 28, 1) 100%
  );
  width: 50%;
  height: 100%;
  content: "";
  z-index: 10;
}

.edge-fade::before {
  position: absolute;
  top: 0;
  left: -1px;
  background: linear-gradient(to right, rgb(3, 0, 28, 1) 0%, transparent 25%);
  width: 100px;
  height: 100%;
  content: "";
  z-index: 10;
}

.edge-fade::after {
  position: absolute;
  top: 0;
  right: -1px;
  background: linear-gradient(to right, transparent 75%, rgb(3, 0, 28, 1) 100%);
  width: 100px;
  height: 100%;
  content: "";
  z-index: 10;
}

.modalOverlay {
  /* background-color: red;
  width: 100%; */
  background: rgba(60, 0, 255, 0.7);
  background-color: blue;
}

.modalStyles {
  background: #038d2e;
  background-color: #038d2e;
  width: 100%;
  height: 100%;
}

.active-category-button {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7), 2px 2px 2px 0px,
    inset 1px 1px 2px 0px rgba(185, 28, 28, 0.9);
}
.active-category-button span {
  text-decoration-line: line-through;
  text-decoration-color: rgb(185 28 28);
  /* color: rgb(185 28 28); */
}

.checkmark::before {
  position: absolute;
  top: 50%;
  translate: 0 -50% 0;
  right: 101%;
  content: "\2713";
  color: green;
}

/* X-mark */
.xmark::before {
  position: absolute;
  top: 50%;
  translate: 0 -50% 0;
  right: 101%;
  content: "\2717";
  color: red;
}

@media screen and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4 / 3) {
  /* .modalStyles{ width: 90%} */
}

@media screen and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4 / 3) {
  /* .modalStyles{ width: 90%} */
}

@media screen and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4 / 3) {
}

@media screen and (min-width: 1281px) and (max-width: 1600px) and (orientation: landscape) {
}

@media screen and (min-width: 1601px) and (max-width: 1920px) and (orientation: landscape) {
}
